In [30]:
import numpy as np
import pandas as pd

In [31]:
dataframe = pd.read_csv("C:\\Users\\HP\\Downloads\\iris.ipynb.zip")
dataframe

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [38]:
dataframe.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [39]:
dataframe.var()

C:\Users\HP\AppData\Local\Temp/ipykernel_10660/1739950656.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataframe.var()

Id               1887.500000
SepalLengthCm       0.685694
SepalWidthCm        0.188004
PetalLengthCm       3.113179
PetalWidthCm        0.582414
dtype: float64

In [34]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\an1aconda3\lib\site-packages (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\hp\an1aconda3\lib\site-packages (from scikit-learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\an1aconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\an1aconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\an1aconda3\lib\site-packages (from scikit-learn) (1.20.3)

In [35]:
from sklearn.feature_selection import SelectKBest, chi2

In [43]:
features = dataframe.iloc[:,:-1].values
values = dataframe.iloc[:,-1].values

In [41]:
sele = SelectKBest(chi2, k=2)
cols = sele.fit_transform(features, values)
cols

array([[  1. ,   1.4],
       [  2. ,   1.4],
       [  3. ,   1.3],
       [  4. ,   1.5],
       [  5. ,   1.4],
       [  6. ,   1.7],
       [  7. ,   1.4],
       [  8. ,   1.5],
       [  9. ,   1.4],
       [ 10. ,   1.5],
       [ 11. ,   1.5],
       [ 12. ,   1.6],
       [ 13. ,   1.4],
       [ 14. ,   1.1],
       [ 15. ,   1.2],
       [ 16. ,   1.5],
       [ 17. ,   1.3],
       [ 18. ,   1.4],
       [ 19. ,   1.7],
       [ 20. ,   1.5],
       [ 21. ,   1.7],
       [ 22. ,   1.5],
       [ 23. ,   1. ],
       [ 24. ,   1.7],
       [ 25. ,   1.9],
       [ 26. ,   1.6],
       [ 27. ,   1.6],
       [ 28. ,   1.5],
       [ 29. ,   1.4],
       [ 30. ,   1.6],
       [ 31. ,   1.6],
       [ 32. ,   1.5],
       [ 33. ,   1.5],
       [ 34. ,   1.4],
       [ 35. ,   1.5],
       [ 36. ,   1.2],
       [ 37. ,   1.3],
       [ 38. ,   1.5],
       [ 39. ,   1.3],
       [ 40. ,   1.5],
       [ 41. ,   1.3],
       [ 42. ,   1.3],
       [ 43. ,   1.3],
       [ 44. ,   1.6],
       [ 45. ,   1.9],
       [ 46. ,   1.4],
       [ 47. ,   1.6],
       [ 48. ,   1.4],
       [ 49. ,   1.5],
       [ 50. ,   1.4],
       [ 51. ,   4.7],
       [ 52. ,   4.5],
       [ 53. ,   4.9],
       [ 54. ,   4. ],
       [ 55. ,   4.6],
       [ 56. ,   4.5],
       [ 57. ,   4.7],
       [ 58. ,   3.3],
       [ 59. ,   4.6],
       [ 60. ,   3.9],
       [ 61. ,   3.5],
       [ 62. ,   4.2],
       [ 63. ,   4. ],
       [ 64. ,   4.7],
       [ 65. ,   3.6],
       [ 66. ,   4.4],
       [ 67. ,   4.5],
       [ 68. ,   4.1],
       [ 69. ,   4.5],
       [ 70. ,   3.9],
       [ 71. ,   4.8],
       [ 72. ,   4. ],
       [ 73. ,   4.9],
       [ 74. ,   4.7],
       [ 75. ,   4.3],
       [ 76. ,   4.4],
       [ 77. ,   4.8],
       [ 78. ,   5. ],
       [ 79. ,   4.5],
       [ 80. ,   3.5],
       [ 81. ,   3.8],
       [ 82. ,   3.7],
       [ 83. ,   3.9],
       [ 84. ,   5.1],
       [ 85. ,   4.5],
       [ 86. ,   4.5],
       [ 87. ,   4.7],
       [ 88. ,   4.4],
       [ 89. ,   4.1],
       [ 90. ,   4. ],
       [ 91. ,   4.4],
       [ 92. ,   4.6],
       [ 93. ,   4. ],
       [ 94. ,   3.3],
       [ 95. ,   4.2],
       [ 96. ,   4.2],
       [ 97. ,   4.2],
       [ 98. ,   4.3],
       [ 99. ,   3. ],
       [100. ,   4.1],
       [101. ,   6. ],
       [102. ,   5.1],
       [103. ,   5.9],
       [104. ,   5.6],
       [105. ,   5.8],
       [106. ,   6.6],
       [107. ,   4.5],
       [108. ,   6.3],
       [109. ,   5.8],
       [110. ,   6.1],
       [111. ,   5.1],
       [112. ,   5.3],
       [113. ,   5.5],
       [114. ,   5. ],
       [115. ,   5.1],
       [116. ,   5.3],
       [117. ,   5.5],
       [118. ,   6.7],
       [119. ,   6.9],
       [120. ,   5. ],
       [121. ,   5.7],
       [122. ,   4.9],
       [123. ,   6.7],
       [124. ,   4.9],
       [125. ,   5.7],
       [126. ,   6. ],
       [127. ,   4.8],
       [128. ,   4.9],
       [129. ,   5.6],
       [130. ,   5.8],
       [131. ,   6.1],
       [132. ,   6.4],
       [133. ,   5.6],
       [134. ,   5.1],
       [135. ,   5.6],
       [136. ,   6.1],
       [137. ,   5.6],
       [138. ,   5.5],
       [139. ,   4.8],
       [140. ,   5.4],
       [141. ,   5.6],
       [142. ,   5.1],
       [143. ,   5.1],
       [144. ,   5.9],
       [145. ,   5.7],
       [146. ,   5.2],
       [147. ,   5. ],
       [148. ,   5.2],
       [149. ,   5.4],
       [150. ,   5.1]])